
service:
  type: LoadBalancer

ports:
  web:
    exposedPort: 80
    redirections:
      entryPoint:
        to: websecure
        scheme: https
  websecure:
    exposedPort: 443
    tls:
      enabled: true

persistence:
  enabled: false  

api:
  dashboard: false